.inputComponent {
    border-radius: 4px;
    min-height: 38px;
    margin-left: 1em;
    padding: 0 0.5em;

    & .small {
        outline: none;
        border-bottom: 1px dotted #999;
        font-size: 0.7em;
        min-width: 390px;
        margin-left: 0.5em;
    }

    & .wide {
        width: 350px;
    }
}